body {
    padding: 15px;
    background-color: #49a648;
    font-family: 'Varela Round', sans-serif;
	font-size: 16px;
}

.app-sec {
    margin: 50px 100px;
    min-height: 500px;
    background-color: #fff;
}

.col-input {
    background-color: #58b957;
    padding: 50px 40px;
}

.app-sec input, .app-sec textarea {
    display: block;
    border-radius: 10px;
    border: none;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(224,224,224,1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(224,224,224,1);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.col-results {
    background-color: #fff;
    padding: 50px 40px;
}

#company-sec {
    padding: 15px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(224,224,224,1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(224,224,224,1);
    box-shadow: 0px 0px 10px 1px rgba(224,224,224,1);
    border-radius: 10px;
}

.company-sec span {
    font-size: 20px;
}

.role {
    margin-top: 10px;
}

.result-sec {
    background: #f8f9fa;
    border-radius: 20px;
    padding: 10px;
}

.result-sec p {
    margin-bottom: 5px !important;
}

#class {
    display: block;
    text-align: right;
}